name: shared
description: Shared models and services for EconomicSkills apps
version: 1.0.0
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.8.3

dev_dependencies:
  flutter_lints: ^5.0.0
